<a href="https://colab.research.google.com/github/mayanksharma847/python-basic-assignment/blob/main/python_basic_ass_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question-1** In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
      *,'hello',-87.8,-,/,+,6

**Answer-1**
*,-,/,+ is the expression because they are mathmatical operators....
'hello',-87.8,6 is the value because they are string,float,interger respectively

**Quetion-2** What is the difference between string and variable?

**Answer-2**
string is the datatype which is store characters in single or double quotes but variable store the value or any datatype in memory location

**Question-3** Describe three different data types.

**Answer-3**
there are five type of datatype in python but we describe three type only
numeric,
boolean,
sequence
                             
                              **1.Numeric**
  Numeric data type represent the data which has numeric value. Numeric value can be integer, floating number or even complex numbers
**1.integer**:- This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). 
**2.floating**:-It is a real number with floating point representation. It is specified by a decimal point 
**3.complex**:-Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example â€“ 2+3j
                                 
                                 **2.Boolean**
It is a datatype which gives output in 0 and 1 here 0 means false and 1 means true 
                                 
                                  **3.Sequence**
sequence is the ordered collection of similar or different data types. Sequences allows to store multiple values .There are three types in Python:-string,list,tuple
**1.string**:- A string is a collection of one or more characters put in a single quote, double-quote or triple quote.
**2.list**:- It is just like a aaray but in list we do not need to collect similar type of data it is felexible.it is store in []
**3.tuple**:- In list and tuple onle one difference. tuple is immutable means we cannot modified the tuple. it is store in ().

In [ ]:
#numeric
a=23 #integer
print(f"the datatype of a is {type(a)}")
b=23.7 #float
print(f"the datatype of b is {type(b)}")
c=3+9j #complex
print(f"the datatype of c is {type(c)}")
#boolean
d=True
print(f"the datatype of d is {type(d)}")
e=False
print(f"the datatype of e is {type(e)}")
#sequence
f="mayank" #string
print(f"the datatype of f is {type(f)}")
g=[] #list
print(f"the datatype of g is {type(g)}")
h=() #tuple
print(f"the datatype of h is {type(h)}")

the datatype of a is <class 'int'>
the datatype of b is <class 'float'>
the datatype of c is <class 'complex'>
the datatype of d is <class 'bool'>
the datatype of e is <class 'bool'>
the datatype of f is <class 'str'>
the datatype of g is <class 'list'>
the datatype of h is <class 'tuple'>

**Question-4** What is an expression made up of? What do all expressions do?

**Answer-4**
expression is the combnation of variable ,operation and value  that yields a result value like **5+5=10** is the expression

Question-5 This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Answer-5**
Statements represent an action or command e.g print statements, assignment statements. Expression is a combination of variables, operations and values that yields a result value. All expression is a statement but all statement is not a expression

**Question-6** After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

**Answer-6**
the variable bacon contain 22

In [ ]:
bacon = 22
print(bacon + 1)
print(bacon)

23
22

**Question-7** What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

**Answer-7**
the value of bothe term is same . the value is spamspamspam

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam' * 3

'spamspamspam'

**Question-8** Why is eggs a valid variable name while 100 is invalid?

**Answer-8**
there are some rule of the variable and one of the rule is Variable name can have numbers but not at the beginning.thats why 100 is not valid variable

**Question-9** What three functions can be used to get the integer, floating-point number, or string version of a value?

**Answer-9**
the function  of integer is int()

the function of float is float()

the function of string is str()

**Question-10** Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

**Answer-10**
because this expression connect through the strong typing . In strong typing we cannot connect two different data type
now i can fix it

(f"i have eaten {99} burritos)

In [ ]:
(f"i have eaten {99} burritos")

'i have eaten 99 burritos'